@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,400;0,500;1,700&family=Smythe&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --background-color: #ffffff;
  --secondary-color: #fb8e0b;
  --text-color: #181c28;
  --paragraph-color: #383a47;
  --footer-color: #fd6003;
  --star-color: #ffc947;
  --container-width-lg: 86%;
  --container-width-md: 92%;
  --transition: all 0.5s ease-in-out;
  --border-radius: 0.5rem;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 3rem;
  line-height: 1.1;
  font-family: "Montserrat", "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* GENERAL STYLES */

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-color);
}

h1.header {
  font-size: 3.125rem;
  font-weight: 800;
  color: var(--text-color);
}

p.big {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  color: var(--paragraph-color);
}

img {
  display: block;
}

.btn {
  display: inline-block;
  padding: 1rem 1.2rem;

  font-size: 1rem;
  font-weight: 400px;

  border: none;
  border-radius: var(--border-radius);

  cursor: pointer;

  text-decoration: none;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--background-color);
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--footer-color);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  /* The maximum size of the content */
  max-width: 2160px;
}

/* navigation bar */
header {
  width: 100vw;
  height: 875px;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

/* not necessary */
nav {
  height: 8%;
  width: 100vw;
  display: grid;
  place-items: center;
}

.nav_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--secondary-color);
}

.nav-links {
  display: flex;
  gap: 2.2rem;
}

.nav-links li a {
  font-size: 1rem;
  font-weight: 500;

  color: var(--text-color);
  transition: var(--transition);
}

.x-logo {
  color: var(--footer-color);
}

.nav-links li a:hover {
  color: var(--secondary-color);
}

.login_signup {
  display: flex;
  gap: 2rem;
}

.login {
  font-size: 1rem;
  font-weight: 700;
  border: none;
  background: transparent;
  cursor: pointer;

  color: var(--text-color);
  transition: var(--transition);
}

.login:hover {
  color: var(--secondary-color);
}
.header_section {
  width: 100%;
  height: fit-content;
}

.header_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left_header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.left_header > button {
  width: 220px;
}

.happy_customers {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.happy_customers .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left .images {
  display: flex;
}

.left .images img {
  width: 60.52px;
  height: 60.52px;
  border-radius: 50%;
}

.left .images img:nth-child(2) {
  margin-left: -20px;
  z-index: -1;
}

.left .images img:nth-child(3) {
  margin-left: -20px;
  z-index: -2;
}
.left_text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.left_text > h3 {
  font-size: 30px;
}

.left_text > p {
  font-size: 1rem;
}

.happy_customers > span {
  height: 30px;
  width: 0.15rem;
  border-radius: 0.5rem;
  background-color: var(--text-color);
}
.right {
  height: fit-content;
  /* padding-left: 1.1rem;
  border-left: 3px solid var(--text-color); */

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.right > h3 {
  font-size: 30px;
}

.star_rating {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.right .star_rating .star {
  display: flex;
  gap: 0.23rem;
  align-items: center;
}

.right .star_rating > p {
  font-size: 1rem;
}

.right_header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  overflow-y: visible;
}

.inner-circle {
  width: 515px;
  height: 539px;
  /* background-color: white; */
  border-radius: 50%;
  border: 2px solid;
  margin-top: 5rem;
  margin-left: 5rem;
  position: absolute;
}

.middle {
  object-fit: cover;
  width: 549px;
  height: 549px;
  margin-top: 5rem;
  /* top: 20px; */
  position: absolute;
}

.main-image {
  height: 965px;
  width: 668px;
  position: absolute;
}
