  p {
    font-family: Arial;
    margin: 0;
    padding: 0;
  }

  .amount {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .currency {
    font-size: 14px;
    color: gray;
  }


  .num {
    font-size: 14px;
    color: rgb(130, 182, 52);
    margin-bottom: 8px;
  }


  .hours {
    font-size: 14px;
    margin-bottom: 80px;
    color: gray;

  }


  .number {
    color: rgb(224, 46, 46);
  }


  .free {
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
  }

  .code  {
    color: gray;
  }


  .web {
    font-weight: bold;
    width: 500px;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .developer {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 80px;
  }

  .chp {
    color: lightblue;
  }

  .it {
    color: rgb(216, 214, 214);
  }